* {
    background-color: #121212;
    color: #ccc;
    font-family: "Segoe UI";
    line-height: 1.68;
    padding: 0;
    margin: 0;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
    width: 50%;
    table-layout: center;
    background-color: #ccc;
    margin-top: -150px;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #121212;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
    background-color: #262626;
    color: #ccc;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .button {
    color: #ccc;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    transition: 0.2s;
  }

  .green {
  background-color:rgb(48, 146, 92);
}

  .green:hover {
    background-color:rgb(71, 158, 110);
  }

  .blue {
    background-color:rgb(48, 63, 146);
  }
  
  .blue:hover {
      background-color:rgb(71, 80, 158);
  }

  .red {
    background-color:rgb(146, 48, 48);
  }
  
  .red:hover {
      background-color:rgb(158, 71, 71);
  }

  .orange {
    background-color:rgb(146, 79, 48);
  }
  
  .orange:hover {
      background-color:rgb(158, 96, 71);
  }

  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    margin: 20px;
  }
  
  p,
  ul,
  li,
  div,
  nav {
    padding: 0;
    margin: 0;
  }
  
  nav {
    overflow: auto;
    position: relative;
    z-index: 2;
    width: 20%;
  }
  
  .menu {
    min-width: 200px;
    float: left;
    font-size: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li a {
    padding: 10px 15px;
    display: block;
    color: #121212;
    transition: 0.2s;
  }
  
  nav ul li a:hover {
    transition: 0.2s;
  }
  
  nav ul li:hover > ul {
    left: 200px;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 300ms ease-in;
    -ms-transition: left 300ms ease-in;
    transition: left 300ms ease-in;
  }
  
  nav ul li > ul {
    position: absolute;
    background-color: #333;
    top: 0;
    left: -200px;
    min-width: 200px;
    z-index: -1;
    height: 100%;
    -webkit-transition: left 200ms ease-in;
    -moz-transition: left 300ms ease-in;
    -ms-transition: left 300ms ease-in;
    transition: left 300ms ease-in;
  }
  
  nav ul li > ul li a:hover {
    background-color: #2e2e2e;
  }
  
  .link {
    text-decoration: none;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    color: #ccc;
  }
  
  .link:hover {
    text-decoration: underline 0.15em #ccc;
    text-underline-offset: 0.4em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    color: #ccc;
  }

  .active {
    text-decoration: underline 0.15em #ccc;
    text-underline-offset: 0.4em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    color: #ccc;
  }

  a {
    color: #ccc;
  }